<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
	    <meta name="viewport" content="initial-scale=1"/>
  		<meta http-equiv="Content-Type" content="text/html">
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	
	<body>
		
		<h2 class="text-center mt-5">Something went wrong...</h2>
		<img id="image-1" alt="" th:src="@{/error.png}" class="centered"></img>

		<form action="/" method="GET">
			<input class="btn btn-danger centered mt-5" type="submit" value="Go Back..."></button>

			<div style="float:left;margin-top:20px;width:100%;">
				<textarea rows="50" cols=150 th:text="${stack}" readonly></textarea>
			</div>
		</form>
	
	</body>
</html>